@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    display: block;
    max-width: 100%;

}

body {
    font-family: "Roboto", sans-serif;
    background: #1b0219;
    color: #dbdbdb;
    background-image: url(Images/backgrnd.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;



}

#main {
    margin: 2rem;
    text-align: center;
    
}

#headn {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: #dbdbdb;
    margin-bottom: 2rem;
}


#count {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: #ffa125;
    margin-bottom: 2px;

}

#demo {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #dfdfdf;
  font-weight: 900;
  margin-bottom: 2rem;
}

.profile img {
    border: 1px solid #ffa125;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    

}

.profile p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2rem;
}

button {
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    color: #1b0219;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;


}

button:hover {
    background-color: #1b0219;
    color: #dbdbdb;
}

.sides {
    margin: 1rem;
    padding: 1rem;
    border: none;
  
}